:root{
    --nav-color: #FFF2D9;
    --white-color: #fff;
    --black-color: #000;
    --sec-color: #4B436D;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'inter-black';
    src: url('asset/fonts/Inter-Black.woff2');
}
@font-face {
    font-family: 'inter-bold';
    src: url('asset/fonts/Inter-Bold.woff2');
}
@font-face {
    font-family: 'inter-extra-bold';
    src: url('asset/fonts/Inter-ExtraBold.woff2');
}
@font-face {
    font-family: 'inter-extra-light';
    src: url('asset/fonts/Inter-ExtraLight.woff2');
}
@font-face {
    font-family: 'inter-light';
    src: url('asset/fonts/Inter-Light.woff2');
}
@font-face {
    font-family: 'inter-medium';
    src: url('asset/fonts/Inter-Medium.woff2');
}
@font-face {
    font-family: 'inter-regular';
    src: url('asset/fonts/Inter-Regular.woff2');
}
@font-face {
    font-family: 'inter-SemiBold';
    src: url('asset/fonts/Inter-SemiBold.woff2');
}
@font-face {
    font-family: 'inter-thin';
    src: url('asset/fonts/Inter-Thin.woff2');
}

.add-nav-color {
    background-color: var(--nav-color);
}

.user-personna {
    font-family: inter-bold, sans-serif;
    font-size: 2.5rem;
    padding: 10px;
}
.user-personna-sub-title {
    font-family: inter-regular, sans-serif;
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 1rem;
    padding: 10px;
}

/* .first-container {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);  */
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(100px, auto); */
/* } */


.second-container {
    display: grid;
    grid-gap: 0.7rem;
    /* grid-template-columns: repeat(3, 1fr);  */
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    /* grid-auto-rows: minmax(100px, auto); */
    background-color: var(--white-color);
    margin: 10px;
    padding: 10px;
}
.user-personna-img {
    width: 100%;
    height: 100%;
    object-fit: cover no-repeat;
}
.mob-persona-container {
    display: none;
}

.style-guide {
    font-family: inter-bold, sans-serif;
    font-size: 2.5rem;
    padding:  50px 10px 0 10px;
}
.third-container {
    margin: 10px;
}
.tyson-bees-style-tile {
    font-family: inter-SemiBold, sans-serif;
    font-size: 2.125rem;
    color: var(--white-color);
    background-color: var(--sec-color);
    text-align: center;
    padding: 40px 10px;
}
.style-tile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-moodboard {
    font-family: inter-bold, sans-serif;
    font-size: 2.5rem;
    padding:  50px 10px 0 10px;
    /* margin: 10px; */
}
.fourth-container {
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.team-moodboard-img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* margin: 10px; */
}
.journey-map {
    font-family: inter-bold, sans-serif;
    font-size: 2.5rem;
    padding:  50px 10px 0 10px;
}

.user-scenario-goal {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
}
.user-user-sub-title {
    font-family: inter-regular, sans-serif;
    font-size: 1.25rem;
}
.user-scenario-sub-title {
    font-family: inter-regular, sans-serif;
    font-size: 1.25rem;
}
.user-goal-sub-title {
    font-family: inter-regular, sans-serif;
    font-size: 1.25rem;
}

.fifth-container {
    margin: 0 10px;
}
.sixth-container {
    display: grid;
    /* flex-wrap: no-wrap;
    overflow-x: auto; */
    margin: 10px;
}
.journey-map-img {
    /* flex: 0 0 auto; */
    width: 100%;
    /* height: 100%; */
    /* max-width: 100%; */
    /* margin: 10px; */
}
.seventh-container {
    margin: 0 10px;
}
.extra-first-container {
    margin: 0 10px;
}
.ninth-container {
    margin: 0 10px;
}
.eleventh-container {
    margin: 0 10px;
}
.thirteen-container {
    margin: 0 10px;
}
.fifteenth-container {
    margin: 0 10px;
}

/* .journey-map-img2 {
    display: none;
}
.journey-map-img3 {
    display: none;
}
.journey-map-img4 {
    display: none;
}
.journey-map-img5 {
    display: none;
}
.journey-map-img6 {
    display: none;
} */

.tab-user-scenario-goal1 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}
.tab-user-scenario-goal2 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}
.tab-user-scenario-goal3 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}
.user-scenario-goal3 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
}
/* .user-scenario-goal4 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
}
.user-scenario-goal5 {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--sec-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
} */

.seventh-container {
    display: none;
}
.eighth-container {
    display: none;
}
.extra-first-container {
    display: none;
}
.extra-second-container {
    display: none;
}
.ninth-container {
    display: none;
}
.tenth-container {
    display: none;
}
.eleventh-container {
    display: none;
}
.twelfth-container {
    display: none;
}


.critical-path {
    font-family: inter-bold, sans-serif;
    font-size: 2.5rem;
    padding:  50px 10px 0 10px;
    /* margin: 10px; */
}

.seventeenth-container {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 10px;
    padding: 10px;
}
.critical-path-img {
    width: 100%;
    object-fit: cover no-repeat;
}

@media screen and (max-width: 1720px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    }
}
@media screen and (max-width: 1670px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    }
}
@media screen and (max-width: 1480px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
@media screen and (max-width: 1280px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    }
}
@media screen and (max-width: 1190px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
@media screen and (max-width: 1120px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 1020px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 990px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}
@media screen and (max-width: 833px) {
    .extra-second-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    .eighth-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    .tenth-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    
    .tab-journey-map-img1 {
        width: 100%;
    }
    .tab-journey-map-img2 {
        width: 100%;
    }
    .tab-journey-map-img3 {
        width: 100%;
    }
    .fifth-container {
        display: none;
    }
    .sixth-container {
        display: none;
    }
    .seventh-container {
        display: grid;
    }
    .eighth-container {
        display: grid;
    }
    .extra-first-container {
        display: grid;
    }
    .extra-second-container {
        display: grid;
    }
    .ninth-container {
        display: grid;
    }
    .tenth-container {
        display: grid;
    }
    .eleventh-container {
        display: none;
    }
    .twelfth-container {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .second-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
@media screen and (max-width: 550px) {
    .second-container {
        display: none;
        /* grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    }
    .mob-persona-container {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        background-color: var(--white-color);
        margin: 10px;
        padding: 10px;
    }
}
@media screen and (max-width: 450px) {
    .twelfth-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    .fourteen-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    .sixteenth-container {
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        margin: 10px;
    }
    .phn-journey-map-img1 {
        width: 100%;
    }
    .phn-journey-map-img2 {
        width: 100%;
    }
    .phn-journey-map-img3 {
        width: 100%;
    }
    .phn-journey-map-img4 {
        width: 100%;
    }
    .phn-journey-map-img5 {
        width: 100%;
    }
    .phn-journey-map-img6 {
        width: 100%;
    }
    .phn-journey-map-img7 {
        width: 100%;
    }
    .phn-journey-map-img8 {
        width: 100%;
    }
    .seventh-container {
        display: none;
    }
    .eighth-container {
        display: none;
    }
    .extra-first-container {
        display: none;
    }
    .extra-second-container {
        display: none;
    }
    .ninth-container {
        display: none;
    }
    .tenth-container {
        display: none;
    }
    .eleventh-container {
        display: grid;
    }
    .twelfth-container {
        display: grid;
    }
}
