:root{
    --main-color: #352106;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
@font-face {
    font-family: 'inter-black';
    src: url('font/Inter-Black.woff2');
}

.brew-soon {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    filter: blur(4px);
}

.brew-soon-title {
    font-size: 2.75rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'inter-black';
    color: var(--main-color);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.8); /* Black w/opacity/see-through */
    border-radius: 20px;
    padding: 20px;
    /* color: white; */
}
.soon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 750px) {
    .brew-soon-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .brew-soon-title {
        font-size: 1.5rem;
    }
}